<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farm story</title>
    <link rel="stylesheet" href="/Pam/css/admin/basic/header.css">
    <link rel="stylesheet" href="/Pam/css/admin/basic/footer.css">
    <link rel="stylesheet" href="/Pam/css/admin/basic/Aside.css">
    <link rel="stylesheet" href="/Pam/css/admin/main.css">
    <link rel="stylesheet" href="/Pam/css/admin/product_list.css">
    <style>
   

main {
  width: 980px;
  height: 658px;
  margin: 0px auto;
}

</style>
</head>
<body>
    <div id="wrapper">

        <header>
            <a href="#">
                <img class="head_logo" src="/Pam/images/admin/admin_logo.jpg" alt="ADMINISTRATOR">
            </a>
            <p>
                <a href="#"><span>HOME |</span></a>
                <a href="#"><span>로그아웃 |</span></a>
                <a href="#"><span>고객센터&nbsp;</span></a>
            </p>
        </header>
        <main>
            <section class="left_section">
                <aside>
                    <div>
                        <p>주요기능</p>
                    </div>
                    <div style="margin-top: 20px;">
                        <div>
                            <p>상품관리</p>
                            <a href="#">L 상품목록</a><br>
                            <a href="#">L 상품등록</a>
                        </div>
                        <div>
                            <p>주문관리</p>
                            <a href="#">L 주문목록</a>
                        </div>
                        <div>
                            <p>회원관리</p>
                            <a href="#">L 회원목록</a>
                        </div>
                    </div>
                </aside>
            </section>
            <section class="right_section">
                <p class="title">상품목록</p> 
                
                <article>
        
                    <table class="product">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>사진</th>
                                <th>상품번호</th>
                                <th>상품명</th>
                                <th>구분</th>
                                <th>가격</th>
                                <th>재고</th>
                                <th>등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><img src="/Pam/images/market_item1.jpg" alt="사과"></td>
                                <td>1011</td>
                                <td>사과500g</td>
                                <td>과일</td>
                                <td>4000원</td>
                                <td>100</td>
                                <td>2023-01-01</td>
                            </tr>
                        
                        </tbody>
                    </table>
                </article>
                <div class="delete-button-container">
                    <span>선택삭제</span>
                </div>
               
                <div class="page"  >
                    <p > < [1] [2] [3] [4] [5] ></p>
                </div>
            </section>
        </main>
        <footer>
            <p>
                CopyrightⓒFarmstory All rights reserved. FARMSTORY ADMINISTRATOR Version 1.0.1
            </p>
            
        </footer>
    </div>
</body>
</html>