<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/Pam/css/basic/header.css">
  <link rel="stylesheet" href="/Pam/css/basic/footer.css">
  <link rel="stylesheet" href="/Pam/css/basic/section.css"> 
  <link rel="stylesheet" href="/Pam/css/pam/basket.css">
  <title>팜스토리 장바구니</title>
  <style>
    
  </style>
</head>

<body>
  <div id="wrapper">
    <!-- 헤더 시작선-->
    <header>
      <div id="link">
        <div>
          <div id="home">
            <a href="#">HOME |</a>
            <a href="#">로그인 |</a>
            <a href="#">회원가입 |</a>
            <a href="#">나의정보 |</a>
            <a href="#">로그아웃 |</a>
            <a href="#">관리자 |</a>
            <a href="#">고객센터 </a>
          </div>
        </div>

        <div>
          <article>
            <a href="#" class="logo">
              <img src="/Pam/images/logo.png" alt="팜스토리" />
            </a>

            <img src="/Pam/images/head_txt_img.png" class="head_txt_img"   alt="3만원이상 무료배송 팜카드 10%적립" />

          </article>
        </div>
      </div>

      <div id="list">
        <nav>
          <ul>
            <li><a href="#"><img src="/Pam/images/head_menu1.png" alt="팜스토리소개"></a></li>
            <li><a href="#"><img src="/Pam/images/head_menu2.png" alt="장보기"></a></li>
            <li><a href="#"><img src="/Pam/images/head_menu3.png" alt="농작물이야기"></a></li>
            <li><a href="#"><img src="/Pam/images/head_menu4.png" alt="이벤트"></a></li>
            <li><a href="#"><img src="/Pam/images/head_menu5.png" alt="커뮤니티"></a></li>
          </ul>
        </nav>
      </div>

      <div class="background">
            <img src="/Pam/images/sub_top_tit2.png" alt="INTRODUCTION" class="introduction">
      </div>
    </header>
    <!-- 헤더 끝선-->

    <!-- 메인 시작선-->
    <main>
        <section class="left_section">
            <aside>
              <article>
                  <ul>
                      <li>
                          <img src="/Pam/images/sub_aside_cate2_tit.png" alt="장보기" >
                      </li>
                  </ul>
              </article>
  
              <article>   
                  <ul>
                      <li>
                          <a href="#">
                              <img src="/Pam/images/sub_cate2_lnb1_ov.png" alt="장보기">
                          </a>
                      </li>
                  </ul>
              </article>
            </aside>
        </section>

        <section class="right_section">
            <article>
                <div>
                  <div class="sub_nav_tit">
                    <img src="/Pam/images/sub_nav_tit_cate2_tit1.png" class="sub_nav_tit_cate1_tit2" alt="찾아오시는길">
                  </div>
                  <div>
                    <p class="intro">
                       <img src="/Pam/images/sub_page_nav_ico.gif" alt="인사말">
                         HOME > 장보기 > <span class="eco_txt">장보기&nbsp </span>
                    </p>
                  </div>  
                </div>
                
                
                <div class="content">
                    <p>장바구니 전체(10)</p>
                    <div class="basket_table">
                      <table>
                        <thead>
                          <th style="width: 76.19px;"><input type="checkbox"></th>
                          <th style="width: 76.19px;">이미지</th>
                          <th style="width: 76.19px;" >종류</th>
                          <th style="width: 148.69px;">상품명</th>
                          <th style="width: 76.19px;" >수량</th>
                          <th style="width: 76.19px;" >할인</th>
                          <th style="width: 76.19px;" >포인트</th>
                          <th style="width: 76.19px;" >가격</th>
                          <th style="width: 76.19px;" >소개</th>
                        </thead>
                        <tbody>
                          <tr class="none_item">
                            <td colspan="8">장바구니에 상품이 없습니다.</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><img src="/Pam/images/market_item1.jpg" alt="사과"></td>
                            <td class="table_gray_txt">과일</td>
                            <td>사과 500g</td>
                            <td class="table_gray_txt">1</td>
                            <td class="table_gray_txt">10%</td>
                            <td class="table_gray_txt">40P</td>
                            <td class="table_gray_txt">4,000</td>
                            <td>3,600<span class="table_gray_txt">원</span></td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><img src="/Pam/images/market_item1.jpg" alt="사과"></td>
                            <td class="table_gray_txt">과일</td>
                            <td>사과 500g</td>
                            <td class="table_gray_txt">1</td>
                            <td class="table_gray_txt">10%</td>
                            <td class="table_gray_txt">40P</td>
                            <td class="table_gray_txt">4,000</td>
                            <td>3,600<span class="table_gray_txt">원</span></td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><img src="/Pam/images/market_item1.jpg" alt="사과"></td>
                            <td class="table_gray_txt">과일</td>
                            <td>사과 500g</td>
                            <td class="table_gray_txt">1</td>
                            <td class="table_gray_txt">10%</td>
                            <td class="table_gray_txt">40P</td>
                            <td class="table_gray_txt">4,000</td>
                            <td>3,600<span class="table_gray_txt">원</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>

                <div style="margin-top: 10px;" class="total">
                  <button style="float: left; width: 60px; height: 29px;" class="red_btn" type="button">선택삭제</button>
                  <div style="margin: 0px;" class="total_table">
                    <table>
                      <tr>
                        <td colspan="2">전체합계</td>
                      </tr>
                      <tr>
                        <td>상품수</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>상품금액</td>
                        <td>27,000</td>
                      </tr>
                      <tr>
                        <td>할인금액</td>
                        <td>5,0000원</td>
                      </tr>
                      <tr>
                        <td>배송비</td>
                        <td>5,0000원</td>
                      </tr>
                      <tr>
                        <td>포인트</td>
                        <td>4,000</td>
                      </tr>
                      <tr>
                        <td>전체주문금액</td>
                        <td class="red_tt">22,000</td>
                      </tr>

                    </table>
                      <button style="margin-top: 10px;" class="total_red_btn">주문하기</button>
                  </div>
                </div>

                
            </article>
        </section>
    </main>
    <!-- 메인 끝선-->

    <!-- 푸터 시작선-->
    <footer>
      <img src="/Pam/images/footer_logo.png" alt="farmStory" class="footer_logo">

      <div>
        <p class="Typography">
          (주)팜스토리 / 사업자등록번호 123-45-67890 / 통신판매업신고 제 2013-부산진구-123호 / 벤처기업확인 서울지방중소기업청 제 012345678-9-01234호 <br>
          등록번호 팜스토리01234 (2013.04.01) / 발행인 : 홍길동 <br>
          대표 : 김철학 / 이메일 : chhak0503@gmail.com / 전화 : 01) 234-5678 / 부산광역시 부산진구 부전동 123 <br>
          <span class="span_left">copyrightⓒ 김철학(개발에반하다) All rights reserved.</span>
          <span class="span_right">farmstory ver1.0.1</span>
        </p>
      </div>
    </footer>
    <!-- 푸터 끝선-->

  </div>
</body>

</html>