
.fieldset {
    width: 990px;
    height: 623px; 
    left: 210px;
    position: relative; 
}

.filedset > .uplayout {
    width: 930px; 
    height: 40px; 
    top: 148px; 
    left: 60px; 
    position: absolute; 
}


.filedset > .downlayout{
	width: 930;
	height: 62;
	top: 561px;
	left: 60px;
	position: absolute;

} 

.filedset > .inner-table1 {
    width: 930px;
    height: 237px;
    top: 208px;
    left: 60px;
    border-top-width: 2px;
    position: absolute; 
    border-bottom: 1px solid rgba(216, 216, 216, 1)
}

.filedset > .inner-table_news {
    width: 930px;
    height: 295px;
    top: 208px;
    left: 60px;
    border-top-width: 2px;
    position: absolute; 
    border-bottom: 1px solid rgba(216, 216, 216, 1)
}

.filedset > .inner-table-qna {
    width: 930px;
    height: 353px;
    top: 208px;
    left: 60px;
    border-top-width: 2px;
    position: absolute; 
    border-bottom: 1px solid rgba(216, 216, 216, 1)
}

th, td, tr {
    font-family: 'Noto Sans KR', sans-serif; 
    padding: 8px;              
    justify-content: center;     
    vertical-align: middle;     
    border: 1px solid #ddd;     
    height: 50px;               
}


        /* tr 스타일 */
        .tr {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            background: rgba(250, 250, 250, 1);
            
        }
        
        .tr1 {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            background: rgba(239, 239, 239, 1);
            
        }
        
        .btn_search{
        	width: 70px;
			height: 40px;
			background: rgba(63, 151, 246, 1);
        }
        
        .btn_pagecontroller{
       		width: 32px;
			height: 32px;
			border: 1px solid rgba(222, 222, 222, 1)
        }
        
        .btn_pagecontroller1{
       		width: 32px;
			height: 32px;
			background: rgba(63, 151, 246, 1);
			border: 1px solid rgba(63, 151, 246, 1)

        }
        
.text_box_c_Einfo1{
    width: 45.13%;               
    height: 30px;              
    background: rgba(32, 160, 183, 1);
    
    font-family: 'Noto Sans KR';  
    font-weight: 100;            
    font-size: 12px;             
    line-height: 100%;           
    letter-spacing: 0%;           
    
    text-align: center;          
    vertical-align: middle;       
    
    display: flex;               
    justify-content: center;      
    align-items: center;         
    color: white;
}

        
       
.text_box_c_Einfo2 {
    width: 34.09%;            
    height: 25px;                
    background: rgba(155, 154, 154, 1); 
    
    font-family: 'Noto Sans KR';  
    font-weight: 350;            
    font-size: 12px;              
    line-height: 100%;           
    letter-spacing: 0%;          
    
    text-align: center;          
    vertical-align: middle;       
    
    display: flex;               
    justify-content: center;      
    align-items: center;        
    
    color: white;                 
}


.text_box_c_news1{
    width: 45.13%;               
    height: 30px;               
    background: rgba(32, 160, 183, 1); 
    
    font-family: 'Noto Sans KR';  
    font-weight: 100;            
    font-size: 12px;           
    line-height: 100%;          
    letter-spacing: 0%;        
    
    text-align: center;           
    vertical-align: middle;     
    
    display: flex;               
    justify-content: center;     
    align-items: center;        
    color: white;
}

        
       
.text_box_c_news2 {
    width: 34.09%;              
    height: 25px;             
    background: rgba(155, 154, 154, 1); 
    
    font-family: 'Noto Sans KR';  
    font-weight: 350;            
    font-size: 12px;              
    line-height: 100%;           
    letter-spacing: 0%;          
    
    text-align: center;          
    vertical-align: middle;      
    
    display: flex;               
    justify-content: center;      
    align-items: center;         
    
    color: white;                
}
