* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans KR";
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
body {
    overflow-x: hidden; /* 가로 스크롤 추가 */
    min-width: 1200px; /* 최소 너비 유지 */
}

/* --------- header start --------- */
header {
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

header > div > * {
    width: 1200px;
    margin: 0 auto;
}

.topMenuBar {
    width: 100%;
    background-color: #3f97f6;
}
.topMenus {
    height: 28px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    text-align: right;
}
.topMenus li {
    display: inline;
}
.topMenus li > a {
    color: white;
    border-right: 1px solid #78b6f9;
    padding-left: 5px;
    padding-right: 7px;
    font-weight: 350;
}
.topMenus li:last-child > a {
    border: none;
    padding-right: 0;
}
.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.nav-container {
    display: flex;
    justify-content: right;
}
nav {
    position: relative;
    font-weight: 400;
    font-size: 0;
    display: flex;
    padding: 0;
    width: 80%;
}
nav .item {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
    width: 120px;
    height: 65px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.dropdown {
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 100%;
}
.dropdown > div {
    translate: 0 -100%;
    transition: all 0.3s 0.1s;
    position: relative;
    background-color: #3f97f6;
}
.dropdown a {
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 15px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    color: white;
    font-size: 15px;
    border-top: 1px solid #53a2f7;
}
.item:hover {
    color: #3f97f6;
}
.dropdown a:hover {
    background: #3a88db;
    transition: 0.3s;
}
nav .item:hover > .dropdown > div {
    translate: 0;
}
.location-container {
    position: relative;
    background-color: #ECF2F6;
}
.location-container > div > ul {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 42px;
}
.location-container > div > ul > li > a {
    font-size: 14px;
    font-weight: 350;
    color: #333;
}
.ico-next {
    margin: 0 10px;
}
.ico-home {
    margin-top: 4px;
}
main {
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
}
main > div > * {
    width: 1200px;
    margin: 0 auto;
}
.main-container > div {
    display: flex;
}
aside {
    width: 210px;
}
aside h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.side-link-container {
    width: 210px;
    border-top: 2px solid #222;
}
.side-link {
    width: 210px;
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #DCDCDC;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}
.selected-link {
    color: white;
    background-color: #3f97f6;
}

/* =============== 메인 컨텐츠 작성 ===============  */
.gallery-container {
    width: 100%;
    margin: 8px 0 0 50px;
}
.gallery-container h4 {
    font-size: 26px;
    font-weight: 700;
    border-bottom: 2px solid #222;
    margin-bottom: 31px;
    padding-bottom: 20.8px;
}

/* --------- footer start --------- */
footer > div > * {
    width: 1200px;
    margin: 0 auto;
}
  .footer-link-container {
    display: flex;
    align-items: center;
    background-color: #1f2838;
    height: 50px;
}
  .footer-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
  .footer-links li {
    border-left: 1px solid #6f747e;
    text-align: center;
    flex: 1;
}
  .footer-links li:last-child {
    border-right: 1px solid #6f747e;
}
  .footer-links li > a {
    color: white;
    font-size: 14px;
    font-weight: 350;
}
  .copyright {
    background-color: #19202d;
}
  .copyright-container {
    display: flex;
    padding: 30px 0;
}
  .footer-logo {
    width: 160px;
    height: 41px;
    margin-right: 20px;
}
  .footer-text {
    color: #a8a9ac;
    font-size: 14px;
    font-weight: 350;
    line-height: 21px;
}
  .footer-text:nth-child(2) {
    margin-top: 20px;
}
  
.site {
    appearance: none;
    background: url("/static/images/bg-related-arr-open.png") no-repeat right 16px center;
    margin-left: auto;
    display: flex;
    width: 200px;
    height: 36px;
    padding-left: 20px;
    align-items: center;
    background-color: #121721;
    box-sizing: border-box;
    color: #a7a7a9;
    font-size: 16px;
    font-weight: 350;
    border: none;
}
.sites {
    color: #a7a7a9;
    font-size: 16px;
    font-weight: 350;
}
.site:focus {
    outline: none;
}
/* --------- footer end --------- */

