<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pam/css/basic/header.css">
    <link rel="stylesheet" href="/Pam/css/basic/footer.css">
    <link rel="stylesheet" href="/Pam/css/user/login.css">

    <title>로그인</title>
    <style>
      
      #wrapper{
        margin: 0 auto;  /* 수평 중앙 정렬 */
      }

    </style>
</head>
<body>
    <div id="wrapper">
      <!-- 헤더 시작선-->
      <header>
        <div id="link">
          <div>
            <div id="home">
              <a href="#">HOME |</a>
              <a href="/Pam/view/user/login.html">로그인 |</a>
              <a href="/Pam/view/user/reigister.html">회원가입 |</a>
              <a href="#">나의정보 |</a>
              <a href="#">로그아웃 |</a>
              <a href="/Pam/view/admin/main.html">관리자 |</a>
              <a href="/Pam/view/">고객센터 </a>
            </div>
          </div>
  
          <div>
            <article>
              <a href="#" class="logo">
                <img src="/Pam/images/logo.png" alt="팜스토리" />
              </a>
  
              <a href="#" class="head_txt_img">
                <img src="/Pam/images/head_txt_img.png" alt="3만원이상 무료배송 팜카드 10%적립" />
              </a>
            </article>
          </div>
        </div>
  
        <div id="list">
          <nav>
            <ul>
              <li><a href="/Pam/view/pam/intro.html"><img src="/Pam/images/head_menu1.png" alt="팜스토리소개"></a></li>
              <li><a href="/Pam/view/pam/shop/product_basket.html"><img src="/Pam/images/head_menu2.png" alt="장보기"></a></li>
              <li><a href="/Pam/view/pam/pam_story/story.html"><img src="/Pam/images/head_menu3.png" alt="농작물이야기"></a></li>
              <li><a href="/Pam/view/pam/pam_event/event.html"><img src="/Pam/images/head_menu4.png" alt="이벤트"></a></li>
              <li><a href="/Pam/view/pam/pam_community/notion.html"><img src="/Pam/images/head_menu5.png" alt="커뮤니티"></a></li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- 헤더 끝선-->
  
      <!-- 메인 시작선-->
      <main id="user">
        <section class="login">
          <div>
            <form action="#">
              <table border="0">
                <tbody>
  
                  <tr>
                    <td>
                      <img src="/Pam/images/user/login_ico_id.png" alt="아이디">
                    </td>
                    <td>
                      <input type="text" name="uid" placeholder="아이디 입력">
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <img src="/Pam/images/user/login_ico_pw.png" alt="비밀번호">
                    </td>
                    <td>
                      <input type="password" name="pass" placeholder="비밀번호 입력">
                    </td>
                  </tr>
  
                </tbody>
              </table>
              <input type="submit" value="로그인" class="btnLogin">
              <img src="/Pam/images/user/login_favicon.png" alt="Favicon Image" class="favicon" usemap="#faviconmap">
              <map name="faviconmap">
                <area shape="rect" coords="0,0,32,32" href="http://naver.com" alt="Naver">
                <area shape="rect" coords="34,0,66,32" href="http://kakao.com" alt="Kakao">
                <area shape="rect" coords="68,0,100,32" href="http://google.com" alt="Google">
              </map>
            </form>
          </div>
          <div>
            <h3>회원 로그인 안내</h3>
            <p>아직 회원이 아니시면 회원으로 가입하세요.</p>
            <div style="text-align: right;">
              <a href="/Pam/view/user/userId.html">아이디 |</a>
              <a href="/Pam/view/user/password.html">비밀번호찾기 |</a>
              <a href="/Pam/view/user/reigister.html">회원가입</a>
            </div>
          </div>
        </section>
      </main>
      <!-- 메인 끝선-->
  
      <!-- 푸터 시작선-->
      <footer>
        <img src="/Pam/images/footer_logo.png" alt="farmStory" class="footer_logo">
  
        <div>
          <p class="Typography">
            (주)팜스토리 / 사업자등록번호 123-45-67890 / 통신판매업신고 제 2013-부산진구-123호 / 벤처기업확인 서울지방중소기업청 제 012345678-9-01234호 <br>
            등록번호 팜스토리01234 (2013.04.01) / 발행인 : 홍길동 <br>
            대표 : 김철학 / 이메일 : chhak0503@gmail.com / 전화 : 01) 234-5678 / 부산광역시 부산진구 부전동 123 <br>
            <span class="span_left">copyrightⓒ 김철학(개발에반하다) All rights reserved.</span>
            <span class="span_right">farmstory ver1.0.1</span>
          </p>
        </div>
      </footer>
      <!-- 푸터 끝선-->
  
    </div>
  </body>
</html>