* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans KR";
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
body {
    overflow-x: hidden; /* 가로 스크롤 추가 */
    min-width: 1200px; /* 최소 너비 유지 */
}

/* --------- header start --------- */
header {
    width: 100%;
    box-sizing: border-box;
}

header > div > * {
    width: 1200px;
    margin: 0 auto;
}

.topMenuBar {
    width: 100%;
    background-color: #00518C;
}
.topMenus {
    height: 28px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    text-align: right;
}
.topMenus li {
    display: inline;
}
.topMenus li > a {
    color: white;
    border-right: 1px solid #4D85AE;
    padding-left: 5px;
    padding-right: 7px;
    font-weight: 350;
}
.topMenus li:last-child > a {
    border: none;
    padding-right: 0;
}
.header-background {
    background-color: #1F2838;
    padding: 20px 0;
}
/* --------- header end --------- */

/* --------- main start --------- */
main {
    width: 100%;
    box-sizing: border-box;
}

main > * {
    width: 1200px;
    margin: 0 auto;
}
.main-container {
    display: flex;
}
.sidebar {
    display: flex;
    width: 270px;
    flex-direction: column;
    background-color: #EAEAEA;
    border-left: 1px solid #C0C0C0;
}
.side-icon {
    width: 20px;
    margin-right: 5px;
}
.side-title {
    font-size: 16px;
    font-weight: 700;
    color: #222;
}
.side-container {
    margin-top: 20px;
    margin-left: 20px;
}
.side-container > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.side-container ul > li {
    margin-bottom: 10px;
}
.side-container ul > li:last-child {
    margin-bottom: 10px;
}
.side-container ul > li > a {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 350;
    color: #111;
}
.side-container ul > li > a::before {
    content: "·";
    margin-right: 5px;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}
.main-header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C0C0C0;
}
.main-header > p {
    font-size: 16px;
}
.main-header > h3 {
    font-size: 20px;
    font-weight: 700;
}
.current-location {
    font-size: 16px;
    font-weight: 700;
}
.main-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main-title > img {
    margin-right: 5px;
    margin-top: 2px;
    height: 16px;
}
.main-title > p {
    font-size: 18px;
    font-weight: 400;
    color: #145074;
}

.oneline-two-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.oneline-two-title > div {
    display: flex;
    align-items: center;
}
.main-title > div > img {
    margin-right: 5px;
    margin-top: 2px;
    height: 16px;
}
.main-title > div > p {
    font-size: 18px;
    font-weight: 400;
    color: #145074;
}
.viewmore {
    margin-top: 5px;
}
table {
    border-collapse: collapse;
}
th {
    border-top: 1px solid black;
    border-bottom: 1px solid #A3A3A3;
    background-color: #FAFAFA;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    height: 45px;
}
td {
    border-bottom: 1px solid #A3A3A3;
    color: #333;
    font-size: 16px;
    font-weight: 350;
    text-align: center;
    height: 45px;
}
.table-container {
    margin-bottom: 20px;
}
tr:last-child > td {
    border-bottom: 1px solid #D8D8D8;
}
.tables {
    width: 100%;
}
.oneline-two-container {
    display: flex;
    justify-content: space-between;
}
.oneline-two-container > div:nth-child(1) {
    flex: 1;
    margin-right: 10px;
}
.oneline-two-container > div:nth-child(2) {
    flex: 1;
    margin-left: 10px;
}
.answer-status {
    font-size: 14px;
    font-weight: 350;
    padding: 1px 12px;
    color: white;
}
.wating-answer {
    background-color: #CD3631;
}
.answer-complete {
    background-color: #207918;
}

/* ------ 테이블 사이즈 ------ */

.univ-manage-stat tr > td {
    width: 136px;
}
.stat-students-grade tr > td {
    width: 133px;
}
.stat-students-dep tr > td {
    width: 133px;
}
.edc-stat tr > td:nth-child(1), td:nth-child(3) {
    width: 150px;
}
.edc-stat tr > td:not(:nth-child(1), :nth-child(3)) {
    width: 90px;
}
.aca-notice tr > td:nth-child(1) {
    width: 73px;
}
.aca-notice tr > td:nth-child(2) {
    width: 230px;
}
.aca-notice tr > td:not(:nth-child(1), :nth-child(2)) {
    width: 90px;
}
.counseling tr > td:nth-child(1) {
    width: 73px;
}
.counseling tr > td:nth-child(2) {
    width: 230px;
}
.counseling tr > td:not(:nth-child(1), :nth-child(2)) {
    width: 90px;
}
/* --------- main end --------- */

/* --------- footer start --------- */
footer {
    width: 100%;
    box-sizing: border-box;
}
footer > div > * {
    width: 1200px;
    margin: 0 auto;
}
.footer-container {
    background-color: #19202D;
    padding: 30px 0;
}
.footer-container > p {
    font-size: 16px;
    font-weight: 350;
    color: white;
}
/* --------- footer end --------- */