* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans KR";
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* ---------------- header ---------------- */

header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

header > div {
    width: 100%;
    box-sizing: border-box;
}

header > div > * {
    width: 980px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

header .top > p {
    float: right;
    margin-top: 10px;
}

header article {
    position: relative;
}

header > div:nth-child(2) {
    width: 100%;
    height: 85px;
}

header article > .logo {
    position: absolute;
    left: 390px;
    top: 20px;
}

header article > .freeShipping {
    position: absolute;
    right: 0;
    top: 59px;
}

header > div:nth-child(3) {
    width: 100%;
    height: 50px;
}

header > div:nth-child(3) > ul {
    position: relative;
}

header > div:nth-child(3) > ul > li {
    float: right;
}

header > div:nth-child(3) > ul > li > a > img {
    display: block;
}

.head_badge {
    position: absolute;
    left: 295px;
    top: -13px;
}

/* ---------------- main ---------------- */

main {
    width: 100%;
    height: auto;
}

main section {
    width: 600px;
    height: 512px;
    margin: 100px auto 130px auto;
}

main section h2 {
    width: 100%;
    height: auto;
    margin-bottom: -25px;
}

main section h2:nth-of-type(2) {
    margin-top: 20px;
}

main section table {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 33px;
    border-collapse: collapse;
    border: 1px solid #111111;
    box-sizing: border-box;
}

main section table td {
    padding: 5px 0;
    border-collapse: collapse;
    border: 2px solid #e9e9e9;
    box-sizing: border-box;
}

main section table tr > td:nth-of-type(1) {
    width: 105px;
    height: 37.5px;
    padding-left: 12.5px;
    background-color: #f5f8f9;
}

main section table tr > td:nth-of-type(2) {
    width: 494px;
    height: 37.5px;

    padding-left: 12.5px;
}

main section table tr input {
    width: 164px;
    height: 24px;
    margin: 3px 0;
    padding-left: 6px;
    border: 1px solid #e4eaec;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

main section table tr input[name="addr1"] {
    width: 362px;
}

main section table tr input[name="addr2"] {
    width: 362px;
}

main .nickInfo {
    margin-bottom: 4px;
}

main div {
    display: flex;
    margin-top: 13px;
    margin-left: 488px;
}

main div > a {
    width: 42px;
    height: 35px;
    margin-left: 2px;
    padding: 7px 7px 0px 9px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
}

main div input {
    width: 66px;
    height: 35px;
    margin-left: 2px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
}

main button {
    border: none;
    width: 58px;
    height: 22px;
    margin-left: 3px;
}



/* ---------------- footer ---------------- */

footer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

footer > div {
    width: 100%;
    height: 120px;
}

footer > div > div {
    width: 980px;
    height: 100%;
    border-top: 1px solid #D1CAB2;
    box-sizing: border-box;
    margin: 0 auto;
}

footer > div > div > div  {
    float: right;
    margin-top: 25px;
}

footer > div > div > div p {
    font-size: 10px;
    line-height: 18px;
    color: #585858;
}

footer > div > div > div > p:nth-child(2) {
    float: left;
    color: #888888;
}
footer > div > div > div > p:nth-child(3) {
    float: right;
    color: #888888;
}